@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root{
    --color-dark: ;
    --color-primary: #6366F1 ;
    --color-gray: #9397AD;
    --color-white: #FFFFFF;

    --container-padding: 1rem;
    --transition-time: all 0.2s;

}





*{
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, section, div, header, footer, main, aside, nav, blockquote, p, span{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    font-size: 16px;
}
.wrapper{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}
a{
    color: var(--color-primary);
    text-decoration: underline;
}
a :hover{
    color: var(--color-primary);
    text-decoration: underline;
}


.btn-primary{
    background-color: #6366F1;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.btn-primary:hover{
    background-color: var(--color-gray);
    color: var(--color-white);
    text-decoration: none;
}
.btn-primary i{
    margin-right: 0.5rem;
}
.btn-mobile{
    background-color: transparent;
    border: none;
    font-size: 2rem;
}
.btn-toggle-switch{
    display:flex;
    align-items: center;
    gap: 10px;
}
.btn-toggle-switch.label{

}
.toggle-switch{
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}
.toggle-switch input{
    opacity: 0;
}
.toggle-switch input:checked + .slider{
    background-color: var(--color-primary);
}
.toggle-switch input:focus + .slider{
    box-shadow: var(--color-primary);
}
.toggle-switch input:checked+ .solider::before{
    transform: translateX(18px);
    background-color: var(--color-white);
}
.toggle-switch .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-gray);
    transition: all 0.2s;
}
.toggle-switch .solider::before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: var(--color-white);
    transition: all 0-2s;
}
.toggle-switch .solider.solider:round{
    border-radius: 35px;
}
.navbar{
    display: none;

}
.nav-link{
    color: var(--color-dark);
    font-weight: 600;
    text-decoration: underline;
}
.nav-link:hover{
    color:var(--color-primary);
    text-decoration: underline;
}
.active{ 
    color: var(--color-primary);
    text-decoration: underline;
}9
#auth-signing{
    display: none;
}
.footer{
    font-size: 14px;
    
    .container{
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
    }


    .credit{
        display: none;
    }
}

.header.container{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
@media(min-width: 768px) {

}
.container{
    max-width:  720px;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
}