@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --color-dark: #0B0F19;
    --color-primary: #6366F1;
    --color-gray: #9397AD;
    --color-white: #FFFFFF;

    --color-border-gray: #E2E5F1;


    --container-padding: 1rem;
    --transition-time: all 0.2s;

}

* { 
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body, section , div , end , main , aside, nav , blockquote , p , span{
    margin: 0;
    padding: 0;
}

body{
    font-family:"manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
.wrapper{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}
.container{
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
}
a {
    color: var(--color-primary);
    text-decoration: none;
}
a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.btn-primary:hover{
    background-color: var(--color-gray);
    color: var(--color-white);
    text-decoration: none;
}
.btn-primary i {
    margin-right: 0.5rem;
}

.btn-download-app {
    background-color: var(--color-dark);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.btn-download-app:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    text-decoration: none;
}

.btn-mobile {
    background-color: transparent;
    border: none;
    font-size: 2rem;
}
.btn-circle {
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--color-border-gray);
    background-color: var(--color-white);
    color: var(--color-dark);
}
.btn-toggle-switch{
    display: flex;
    align-items: center;
    gap: 10px;
}
.btn-toggle-switch.label{
display: none;
}
.toggle-switch{
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}
.toggle-switch input{
    opacity: 0;
}
.toggle-switch input:checked + .slider{
    background-color: var(--color-primary);
}
.toggle-switch input:focus + .slider{
    box-shadow: 0 0 1px var(--color-primary);
}
.toggle-switch input:focus + .slider:before{
    transform: translateX(18px);
    background-color: var(--color-white);
}
.toggle-switch .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-gray);
    transition: all 0.2s;
}
.toggle-switch .slider:before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: var(--color-white);
    transition: all 0.2s;
}
.toggle-switch .slider.round{
    border-radius: 35px;
}
.toggle-switch .slider.slider.round:before{
    border-radius: 50%;
}
.navbar{
    display: none;

}
.nav-link{
    color: var(--color-dark);
    font-weight: 600;
    text-decoration: none;
}
.nav-link:hover{
    color: var(--color-primary);
    text-decoration: underline;
}
.active{
    color: var(--color-primary);
    text-decoration: underline;
}
#auth-signin{
    display: none;

}
header .container{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    gap: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.end{
    font-size: 14px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--color-gray);

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    
    .credit{
        display: none;
    }
}

#brands{
    display: none;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
}
.brand-box{
    border: 1px solid var(--color-border-gray);
    border-radius: 8px;
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
    .btn-toggle-switch.label{
        display: block;
    }
    header.container{
        gap: 3rem;
    }
    .end{
        
        .credit{
            display: block;
        }
    }
    #brands{
        display: block;

        
    }
    #brand-1, #brannd-2 {
        display: none;
    }
}
@media (min-width: 1400px){
    .container{
        max-width: 1320px;
    }
    .header.container{
        grid-template-columns: auto 1fr auto auto;
        gap: 2rem;
    }
    .navbar{
        display: block;
     
    }
    #auth-signin{
        display: block;
        justify-content: flex-end;
    }
    .btn-mobile{
        display: none;
    }
    #brand-1, #brannd-2 {
        display: flex;
    } 
}

#hero{
background: rgb(99,102,241);
background: linear-gradient(0deg, rgba(99,102,241,0.09989933473389356) 0%, rgba(218,70,239,0.09989933473389356) 42%, rgba(241,244,253,0.09989933473389356) 83%);
 padding-bottom: 2rem; 
overflow: hidden; 


 @media(min-width:768px){
    padding-bottom: 0;
 }

.container{
display: grid;
grid-template-columns: 1fr;
gap: 2rem;
grid-template-areas: "headline" "content";
                        
@media(min-width:768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "headline headline"
                         "content images";
}
@media(min-width:1400px) {
    gap: 2rem;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: "headline  images"
                        "content images";
}
    }
    .headline{
        grid-area: headline;
       text-align: center;
        h1{
            font-size: 56px;
            font-weight: 800;

        @media(min-width:768px) {
            font-size: 56px;
        }
        @media(min-width:1400px) {
          text-align: left;
        }
        }
    }
    .content{
        grid-area: content;
        text-align: center;

    @media(min-width:768px){
        text-align: left;
    }
.p{
font-size: 18px;
margin-bottom: 3rem;
}
.buttons {
display: flex;
flex-direction: column;
gap: 1rem;

@media(min-width:1400px){
    flex-direction: row;
}
}
.disvover-more{
color: var(--color-dark);
display: flex;
align-items: center;
justify-content: center;
gap: 1rem;
margin-top: 2rem;

@media(min-width:768px){
    justify-content: flex-start;
    margin-bottom: 2rem;
}
@media(min-width:1400px){
    margin-top: 12rem;
}
}
    }
    .images{
        position: relative;
        grid-area: images;
        display: none;

        @media(min-width:768px){
            display: block;
        }
.img-back{
position: absolute;
z-index: -10;
bottom: 0;
right: 100px;
width: 70%;
height: auto;

@media(min-width:1400px){
    width: auto;
    bottom: -100px;
    right: 230px;
}
}
.img-front{
position: absolute;
z-index: -5;
bottom: 0;
right: 0;
width: 70%;
height: auto;

@media(min-width:1400px){
    width: auto;
    bottom: -100px;
    
}
}
    }
}
.feauters{
    width: 50%;
    justify-content: right;
    text-align: left;
    align-items: right;
    .txt{
        margin-right: 10%;
        margin-top: 15%;

        .p {
            color: #565973;
        }
    }
}
.pictures{
    position: relative;
    width: 50%;
    height: 100%;
  margin-top: 0;


    .back-pic{
        position: absolute;
        top: 10%;
        left: 7%;
        width: 35%;
      

    }
    .front-pic{
       position: absolute;
       top: 15%;
       left:10%;
       width: 40%;
     
    }

}

.container{
width: 80%;
margin: 0 auto;
padding: 20px;
text-align: left;
}
.app-feature h2{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}
.app-feature p {
    font-size: 18px;
    color: var(--color-gray);
    margin-bottom: 40px;
}
.feature-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}
.icon-box{
padding: 20px;
border-radius: 10px;
display: flex;
align-items: flex-start;

}
.icon-box img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.icon-box h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.icon-box p{
    font-size: 16px;
    color: var(--color-gray);
}


    
/* ///////////////////////////////// */
.work {
    background-color: #F3F6FF;
    width: 100%;

    .prg {
        display: flex;
        justify-content: center;
        width: 100%;

        .h2 {
            font-size: 40px;
            margin-top: 70px;
        }
    } 

    .pic {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 10px 100px;
    
    }
}

    

    .foot {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        

        .h3 {
            font-size: 24px;
            width: 100%;
            text-align: center;

        }

        .p {
            
            font-size: 16px;
            text-align: center;
            color: var(--color-gray);
            margin: auto;
        }
    }

.transfer {
    width: 100%;

    .up {
        display: flex;
        width: 100%;

        .txtL {
            width: 50%;

            .h3 {
                width: 50%;
                font-size: 30px;
                margin-left: 40%;
                margin-bottom: 30px;
                margin-top: 200px;
            }

            .span {
                display: block;
                font-size: 14px;
                color: #565973;
                width: 50%;
                margin-bottom: 10px;
                margin-left: 40%;


                .i {
                    color: #6366F1;
                    padding-right: 5px;
                    padding-bottom: 10px;
                }
            }

            .btn2 {
                display: flex;
                justify-content: center;
                padding-right: 35px;

                .a {
                    text-decoration: none;
                    color: white;
                    background-color: #6366F1;
                    border-radius: 5px;
                    padding: 5px 5px;
                    margin: auto;
                    margin-top: 20px;
                }
            }
        }

        .imgR {
            width: 50%;
            display: flex;
            justify-content: flex-start;
            position: relative;

            .figure {
                .img {
                    width: 40%;
                    position: absolute;
                    top: 39%;
                    left: 18%;
                }
            }

        }
        .img-money{
            width: 30%;
            position: absolute;
            top: 85%;
            left: 34%;
        }
    }

    .down {
        width: 100%;
        display: flex;
        margin-bottom: 100px;

        .imgL {
            width: 55%;
            display: flex;
            justify-content: flex-end;
            position: relative;

            .figure {
               

                .img {
                    width: 40%;
                    position: absolute;
                    top: 20%;
                    left: 50%;
                }
            }
            .img-card{
                width: 35%;
                position: absolute;
                top: 40%;
                left: 50%;
            }
        }

        .txtR {
            width: 45%;
            padding-top: 100px;

            .h3 {
                width: 70%;
                font-size: 30px;
            }

            .payment {
                display: flex;
                justify-content: flex-start;
                width: 100%;
                margin-top: 30px;

                .pl {
                    width: 45%;

                    .figure {
                        margin: 0;

                        .figcaption {
                            color: #565973;
                            margin-top: 20px;
                            width: 90%;
                            line-height: 20px;
                        }
                    }
                }

                .pr {
                    width: 45%;

                    .figure {
                        margin: 0;

                        .figcaption {
                            color: #565973;
                            margin-top: 20px;
                            width: 80%;
                            line-height: 20px;

                        }

                    }

                }
            }

            .btn3 {
                display: flex;
                padding-right: 35px;
                border: 1px solid var(--color-primary);
                border-radius: 10px;


                .a {
                    text-decoration: none;
                    color: white;
                    background-color: #6366F1;
                    border-radius: 5px;
                    padding: 5px 5px;
                    margin-top: 30px;

                }

            }

        }
    }
}
.comment {
    width: 100%;
    margin-left: 20px;
    display: flex;
   

       
        .clientL{
            border: 5px solid var(--color-white);
            border-radius: 10px;
            padding: 15px;
            margin-bottom: 15px;
            margin-left: 200px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
            width: 50%;
        }
        .h3 {
            font-size: 40px;
            align-items: center;
            width: 40%;
            margin-top: 100px;
            margin-left: 45%;
        }
    }

.commentR {
        display: flex;

        .clientR {
            border: 5px solid var(--color-white);
            border-radius: 10px;
            padding: 15px;
            padding-right: 24px;
            margin-bottom: 15px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
            width: 50%;

            .figure {
                margin: 0;

                .img {
                    width: 100%;
                    
                    .rating-R{
                        top: 10px;
                    }
                }
            }

        }
    }
   .contact-option{
    display: flex;
    justify-content: center;
    gap: 30px;
   }
   .contact-box{
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition: all 0.3s ease;

   }
   .contact-box:hover{
    border-color: #333;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
   }
   .contact-box h3{
    margin-bottom: 10px;
    font-size: 14px;
    color:var(--color-gray);
   }
